## SPEED DATING EXPERIMENT (classification)

In [80]:
import os
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import linear_model, feature_selection, neighbors, metrics, grid_search, cross_validation

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

%matplotlib inline
plt.style.use('ggplot')



pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [81]:
df = pd.read_csv(os.path.join('..', 'CODE', 'speed-dating-experiment', 'Speed Dating Data.csv'))

In [82]:
df

,iid,id,gender,idg,condtn,...,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,...,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,...,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,...,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,...,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,...,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,...,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,...,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,...,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,...,9.0,5.0,9.0,5.0,6.0

In [83]:
df.columns

Index([u'iid', u'id', u'gender', u'idg', u'condtn', u'wave', u'round',
       u'position', u'positin1', u'order',
       ...
       u'attr3_3', u'sinc3_3', u'intel3_3', u'fun3_3', u'amb3_3', u'attr5_3',
       u'sinc5_3', u'intel5_3', u'fun5_3', u'amb5_3'],
      dtype='object', length=195)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 195 entries, iid to amb5_3
dtypes: float64(174), int64(13), object(8)
memory usage: 12.5+ MB

### Dropping Uncessisary Columns:

In [85]:
df.drop('position', axis = 1, inplace = True)
df.drop('positin1', axis = 1, inplace = True)
df.drop('field', axis = 1, inplace = True)
df.drop('field_cd', axis = 1, inplace = True)
df.drop('undergrd', axis = 1, inplace = True)
df.drop('mn_sat', axis = 1, inplace = True)
df.drop('tuition', axis = 1, inplace = True)
df.drop('from', axis = 1, inplace = True)
df.drop('zipcode', axis = 1, inplace = True)
df.drop('income', axis = 1, inplace = True)
df.drop('career', axis = 1, inplace = True)
df.drop('career_c', axis = 1, inplace = True)

In [86]:
df.columns

Index([u'iid', u'id', u'gender', u'idg', u'condtn', u'wave', u'round',
       u'order', u'partner', u'pid',
       ...
       u'attr3_3', u'sinc3_3', u'intel3_3', u'fun3_3', u'amb3_3', u'attr5_3',
       u'sinc5_3', u'intel5_3', u'fun5_3', u'amb5_3'],
      dtype='object', length=183)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Columns: 183 entries, iid to amb5_3
dtypes: float64(171), int64(12)
memory usage: 11.7 MB

In [109]:
df.attr3_s.unique()

array([  nan,   8. ,   5. ,   7. ,   9. ,   6. ,  10. ,   4. ,   3. ,   7.5])

### WHAT DO PEOPLE LOOK FOR IN THE OPPOSITE SEX?

#### Attractiveness

In [96]:
len(df.attr1_1)

8378

In [98]:
len(df.attr1_1.dropna())

8299

In [99]:
len(df.attr.dropna())

8176

In [ ]:
df.attr1_1.dropna()

In [ ]:
len(df.attr1_1.dropna())

In [ ]:
df.attr1_1.describe()

In [ ]:
df.attr1_1.mode()

In [ ]:
df.attr1_1.median()

In [ ]:
len(df.sinc1_1)

In [ ]:
len(df.attr1_1.dropna())

In [ ]:
df[(df.attr1_1.isnull()) & (df.sinc1_1.isnull()) & (df.intel1_1.isnull())]

In [ ]:
df[(df.attr1_2.isnull()) & (df.sinc1_2.isnull()) & (df.intel1_2.isnull())]

In [102]:
y_max = df[ ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1'] ].max(axis = 1)

y_max.loc['impt_atr_other1'] = 'Attractive'
y_max.loc[df.sinc1_1 > y_max, 'impt_atr_other1'] = 'Sincere'
y_max.loc[df.inte1_1 > y_max, 'impt_atr_other1'] = 'Intelligent'
y_max.loc[df.fun1_1 > y_max, 'impt_atr_other1'] = 'Fun'
y_max.loc[df.amb1_1 > y_max, 'impt_atr_other1'] = 'Ambitious'
y_max.loc[df.shar1_1 > y_max, 'impt_atr_other1'] = 'Shared_Interests'

ValueError: Series lengths must match to compare

In [ ]:
##WRITE A FUNCTION USING .LOC 

for i in .... 
if ____ 
    reuturn .loc []  ==1

In [ ]:
df.attr1_2.value_counts

In [ ]:
df[(df.gender ==1) & (df.attr1_1 >=7) & (df.attr_o >=7)]

In [ ]:
df[(df.match == 1) & (df.attr1_1 >=7) & (df.attr_o >=7)]